---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
---

<BaseLayout title='About'>
	<TitlePage title='Banyuwangi Now' />
	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>About</h2>
	</div>
</BaseLayout>
