---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
---

<BaseLayout>
	<TitlePage title='Disclaimer' />

	<p>
		Informasi yang terdapat dalam website ini adalah untuk tujuan umum saja. Informasi ini
		disediakan oleh Liputan6.com dan kami senantiasa berusaha untuk menjaga informasi yang aktual
		dan benar. Kami tidak membuat pernyataan atau jaminan apapun, tersurat maupun tersirat, tentang
		akurasi kelengkapan, kesesuaian, atau ketersediaan ke situs web atau informasi, produk, jasa,
		atau gambar terkait yang terdapat pada website ini untuk tujuan apapun. Setiap ketergantungan
		yang anda tempatkan pada informasi tersebut adalah risiko anda sendiri. Dalam hal apapun kami
		tidak bertanggung jawab atas kerugian atau kerusakan termasuk tanpa batasan, kerugian tidak
		langsung atau kerusakan apapun yang timbul dari hilangnya data atau keuntungan yang timbul dari
		penggunaan website ini.
	</p>
</BaseLayout>
