---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
---

<BaseLayout title='Privacy policy'>
	<TitlePage title='Privacy policy' />
	<h1 class='font-bold text-lg'>Kebijakan Privasi</h1>
	<p>
		Website ini membuat Kebijakan Privasi untuk menjelaskan bagaimana kami memproses informasi yang
		dikumpulkan oleh website. Kami juga menjelaskan alasan mengapa kami perlu mengumpulkan data
		pribadi tertentu tentang Anda. Oleh karena itu, Anda harus membaca Kebijakan Privasi ini sebelum
		menggunakan website ini.
	</p>
	<p>Kami menjaga data pribadi Anda dan berjanji untuk menjamin kerahasiaan dan keamanannya.</p>

	<h1 class='font-bold text-lg'>Informasi yang Kami Kumpulkan</h1>
	<p>
		Saat Anda mengunjungi website ini, kami secara otomatis mengumpulkan informasi tertentu mengenai
		perangkat Anda, termasuk informasi tentang browser web, alamat IP, penyedia layanan internet,
		zona waktu, dan sejumlah cookie yang terinstal di perangkat Anda.
	</p>

	<p>
		Selain itu, selama Anda menjelajahi Website, kami mengumpulkan informasi tentang setiap halaman
		web atau produk yang Anda lihat, website atau istilah pencarian apa yang mengarahkan Anda ke
		Website, dan cara Anda berinteraksi dengan Website.
	</p>

	<h1 class='font-bold text-lg'>Mengapa Kami Mengumpulkan Data Anda?</h1>
	<p>
		Menjaga data pengunjung agar tetap aman adalah prioritas utama kami. Oleh karena itu, kami hanya
		dapat memproses sejumlah kecil data pengguna, sebanyak yang benar-benar diperlukan untuk
		menjalankan website. Data ini akan digunakan dan dijaga dalam rangka kami memberikan berita yang
		akurat, independen, serta bermanfaat bagi para pengguna.
	</p>
	<p>
		Informasi yang dikumpulkan secara otomatis hanya digunakan untuk mengidentifikasi kemungkinan
		kasus penyalahgunaan dan menyusun informasi statistik terkait kunjungan website. Informasi
		statistik ini tidak dapat digunakan dengan tujuan untuk mengidentifikasi pengguna tertentu dari
		sistem.
	</p>

	<h1 class='font-bold text-lg'>Keamanan informasi</h1>
	<p>
		Kami berusaha menjaga seluruh data informasi dalam sistem yang aman, terkendali, dan terlindungi
		dari akses-akses luar yang tak diingingkan. Namun, tidak ada satupun data di internet ataupun
		jaringan nirkabel lain yang terjamin keamanannya 100 persen.
	</p>

	<h1 class='font-bold text-lg'>Hubungi Kami</h1>
	<p>
		Jika Anda memiliki pertanyaan terkait Kebijakan Privasi ini atau hal apapun yang terkait dengan
		data dan informasi pribadi, jangan sungkan untuk menghubungi kami di kontak yang sudah tertera
		di website ini.
	</p>
</BaseLayout>
