---
import TitlePage from '@/components/TitlePage'
import BaseLayout from '@/layouts/BaseLayout'
---

<BaseLayout title='Redaksi'>
	<TitlePage title='Redaksi' />
	<section>
		<h1 class='font-bold text-lg mb-4'>PT. BLAMBANGAN USAHA MANDIRI</h1>
		<div class='flex flex-col gap-3'>
			<div>
				<h2 class='font-semibold'>NIB :</h2>
				<span>2104240035931</span>
			</div>
			<div>
				<h2 class='font-semibold'>AHU :</h2>
				<span>AHU-017290.AH.01.30. Tahun 2024</span>
			</div>
			<div>
				<h2 class='font-semibold'>NPWP :</h2>
				<span>13.952.498.7-627.000</span>
			</div>
		</div>
	</section>
	<section>
		<h1 class='font-bold text-lg mb-4'>Susunan Perusahaan dan Redaksi</h1>
		<div class='flex flex-col gap-3'>
			<div>
				<h2 class='font-semibold'>Direktur :</h2>
				<span>MERDAN WIRYANTO, S.H.M.Kn</span>
			</div>
			<div>
				<h2 class='font-semibold'>Sekretaris :</h2>
				<span>Nova Rosytha</span>
			</div>
			<div>
				<h2 class='font-semibold'>Konsultan hukum :</h2>
				<ol>
					<li>Reza Auliansyah, S.HI</li>
					<li>Aman Santoso, S.H.M.H</li>
				</ol>
			</div>
			<div>
				<h2 class='font-semibold'>Design & Editing</h2>
				<ol>
					<li>Muhamad nur hanif</li>
					<li>Agung Bahtiar</li>
				</ol>
			</div>
			<div>
				<h2 class='font-semibold'>Wartawan/Biro :</h2>
				<ol>
					<li>Wawan</li>
					<li>Saleh Piky</li>
				</ol>
			</div>
		</div>
	</section>
</BaseLayout>
