---
import BaseLayout from '@/layouts/BaseLayout'
import TitlePage from '@/components/TitlePage'
---

<BaseLayout title='Contact'>
	<TitlePage title='Media Blambangan' />

	<div>
		<h2 class='text-lg font-medium tracking-wide text-end'>Contact</h2>
	</div>
</BaseLayout>
