---
// import { Instagram, Facebook, Youtube } from 'lucide-astro'
---

<footer class='p-4 sm:p-6'>
	<div class='mx-auto max-w-screen-xl'>
		<div class='flex justify-center my-20'>
			<span class='w-32 bg-white h-1'></span>
		</div>
		<div class='flex flex-col md:flex-row gap-10'>
			<div class='flex flex-col items-center gap-5'>
				<img src='/favicon.svg' width='80' alt='' />
				<!-- <div class='flex gap-3'><Instagram /> <Facebook /> <Youtube /></div> -->
			</div>
			<div class='flex gap-8 md:gap-14'>
				<div class='flex flex-col md:flex-row gap-10'>
					<div class='grid grid-cols-2 md:grid-cols-4 gap-8 md:gap-16'>
						<div>
							<h1 class='font-semibold mb-2'>Page</h1>
							<ul>
								<li><a href='/'>Home</a></li>
								<li><a href='/contact'>Contact</a></li>
								<li><a href='/about'>About</a></li>
							</ul>
						</div>

						<div>
							<h1 class='font-semibold mb-2'>Sosial Media</h1>
							<ul>
								<li><a href='#'>Instagram</a></li>
								<li><a href='#'>X</a></li>
								<li><a href='#'>Facebook</a></li>
								<li><a href='#'>Tiktok</a></li>
								<li><a href='#'>Youtube</a></li>
							</ul>
						</div>

						<div>
							<h1 class='font-semibold mb-2'>Category</h1>
							<ul>
								<li><a href='/category/kriminal'>Kriminal</a></li>
								<li><a href='/category/pemerintahan'>pemerintahan</a></li>
								<li><a href='/category/hukum'>Hukum</a></li>
								<li><a href='/category/politik'>Politik</a></li>
								<li><a href='/category/pariwisata'>Pariwisata</a></li>
								<li><a href='/category/budaya'>Budaya</a></li>
								<li><a href='/category/olahraga'>Olahraga</a></li>
								<li><a href='/category/ekonomi'>Ekonomi</a></li>
							</ul>
						</div>

						<div>
							<h1 class='font-semibold mb-2'>Legal</h1>
							<ul>
								<li><a href='/legal/kode-etik'>Kode etik</a></li>
								<li><a href='/legal/privacy-policy'>Privacy policy</a></li>
								<li><a href='/legal/redaksi'>Redaksi</a></li>
								<li><a href='/legal/pedoman-media-siber'>Pedoman media siber</a></li>
								<li><a href='/legal/disclaimer'>Disclaimer</a></li>
							</ul>
						</div>
					</div>

					<div class='w-80'>
						<h1 class='font-semibold'>PT BLAMBANGAN USAHA MANDIRI</h1>
						<p class='text-justify'>
							Jalan Tidore No 5 Lingkungan sukowidi, Desa/Kelurahan Klatak,Kec. Kalipuro, Kab
							Banyuwangi
						</p>
						<h1>Email: mediablambangan@gmail.com</h1>
						<h1>Telp: +62 8533 0172 687</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
